extend default

block css
    link(rel='stylesheet', href='/css/addbin.css')

block content
    .grid
        h1 Bin Info Form
        hr
        form#addform(method='POST' action='/auth/usercenter/saveBin')
            #type
                select#type-input(name='type')
                    option(value="" disabled selected) Select bin type (Required)
                    option mix
                    option recycling
                    option landfilled
                    option e-waste
            #photo
                input(type='text', placeholder='Enter picture link' name='photo')
            #lat
                input#lat-input(type='text', placeholder='Latitude (Required)' name='lat')
            #lng
                input#lng-input(type='text', placeholder='Longitude (Required)' name='lng')
            #submit
                button(type="submit") Submit
                
    script
        include findlocal.js