doctype html
html
    head
        title Add Trash
        link(rel='stylesheet', href='/css/trashaddform.css')
    body
        .grid
            #form
                h1 Trash Info Form
                form(method='POST' action='/auth/usercenter/saveTrash')
                    div
                        label(for='name')
                        a Name:
                        input(type='text', placeholder='Enter trash name' name='name')
                    div
                        label(for='type')
                        a Type:
                        input(type='text', placeholder='Enter trash type' name='type')
                    div
                        label(for='pic')
                        a Picture:
                        input(type='text', placeholder='Enter picture link' name='pic')
                    div
                        label(for='process')
                        a Process:
                        input(type='text', placeholder='Describe how to process it' name='process')
                    .buttons
                        button#submit Submit