doctype html
html
    head
        title prorecycler
        link(rel='stylesheet', href='/css/index.css')
    body
        #contents
            #logo
            #search-bar
                input(type='text', placeholder='Search..')
                a(href='/trash')
                    button#search-bar-submit

    script
        include search.js