doctype html
html
    head
        title prorecycler
        link(rel='stylesheet', href='/css/index.css')
    body
        div
            #logo
            #search-bar
                input#text(placeholder='Search comming soon...Just click the button')
                a(href='/trash')
                    button#search-bar-submit

    //- script
    //-     include search.js