doctype html
html
    head
        title prorecycler
        link(rel='stylesheet', href='/css/index.css')
    body
        div
            #logo
            #search-bar
                form(method='POST' action='/trashs/find')
                    input(type='text', placeholder='Search trash' name='search')
                    button#search-bar-submit(type='submit')
            a(href='/maps')
                button#maps-button
            a(href='/game')
                button#tips-button
            a(href='/auth/google')
                button#login-button