doctype html
html
    head
        title prorecycler
        link(rel='stylesheet', href='/css/styles.css')
    body
        #contents
            #logo
            #search-bar
                //- select#search-select
                //-     option Trash Type
                //-     option Bin
                input(type='text', placeholder='Search..')
                #search-bar-submit

