doctype html
html
    head
        title prorecycler
        link(rel='stylesheet', href='/css/index.css')
    body
        div
            #logo
            #search-bar
                input#text(placeholder='Search comming soon...Just click the button')
                a(href='/trash')
                    button#search-bar-submit
            a(href='/maps')
                button#map-button
            a(href='/tips')
                button#tips-button
            a(href = '/auth/google')
                button#login-button

    //- script
    //-     include search.js