doctype html
html
    head
        title map
        //- CSS
        link(rel='stylesheet', href='/css/map.css')
<<<<<<< HEAD
        //- link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.css")
        //- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800')
        //- Google Maps API
        script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAddNWKiQDjnMGxH2zEoWA9B_LUNNj_qHE' +
        '&callback=initMap')
        //- Holder JS
        //- script(src="../bower_components/holderjs/holder.js")
        //- Modernizr
        //- script(src="../bower_components/modernizr/bin/modernizr")
        //- JS Source
        //- script(src="../bower_components/jquery/jquery.js")
        //- script(src="../bower_components/angular/angular.js")
        //- script(src="../bower_components/angular-route/angular-route.js")
        //- script(src="../bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js")

        //- script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
=======
        script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAddNWKiQDjnMGxH2zEoWA9B_LUNNj_qHE&callback=initMap')
>>>>>>> 41fd0ec2f6388b04e2bcbd20938483246e024a52
    body
        #map

    
    script
        include maps.js