doctype html
html
    head
        title map
        //- CSS
        link(rel='stylesheet', href='/css/map.css')
        script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAddNWKiQDjnMGxH2zEoWA9B_LUNNj_qHE&callback=initMap')
    body
        #map

    
    script
        include maps.js