doctype html
html
    head
        title prorecycler
        link(rel='stylesheet', href='/css/index.css')
    body
        div
            p Welcome, #{user.userName}
            #logo
            from(method='POST' action='/trash/find')
                #search-bar
                    input(type='text', placeholder='Search trash' name='search')
                    button#search-bar-submit(type='submit')
            a(href='/maps')
                button#maps-button
            a(href='/tips')
                button#tips-button

