extend default

block css
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/quizanswer.css')

block content
    .grid
        #answer-content
            h1 Quiz Answer
            hr#tophr
            each sample in questions
                .answer
                    p#question #{"Question: " + sample.question}
                    p#answer #{"Answer: " + sample.answer}
                    hr#bottomhr
            .buttons
                a(href='/game')
                    button#retry Retry
                a(href='/auth/profile')
                    button#homepage Back to Homepage