extend default

block css
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/quizanswer.css')

block content
    .quizanswer-container
        #answer-content
            h1 Quiz Answer
            hr#tophr
            each sample in questions
                #container
                    #area1
                        p#question #{"Question: " + sample.question}
                    #area2
                        p#answer #{"Answer: " + sample.answer}
                hr#bottomhr
            #retrybuttons
                #btn0
                    a(href='/game')
                        button#retry Retry