doctype html
html
    head
        title Thank You
        link(rel='stylesheet', href='/css/thankyoupage.css')
    body
        .grid
            #form
                h1 Thank you for your help!
                .buttons
                    a(href='/auth/profile')
                        button#homepage Back to Homepage