doctype html
html
    head
        title Thank You
        link(rel='stylesheet', href='/css/thankyoupage.css')
    body
        div
            p Thanks for upload data~
            a(href='/auth/usercenter') Back to User Center.


