doctype html
html
    head
        title Thank You
        link(rel='stylesheet', href='/css/thankyoupage.css')
    body
        div
            p Thank you for your help!
            a(href='/auth/profile')
                button#back-to-home