extend default

block css
    link(rel='stylesheet', href='/css/feedbackpage.css')

block content
    .grid
        #content
            p Thank you for your help!
        #add-btn
            a(href='/auth/usercenter')
                button Back to Usercentre
        #home-btn
            a(href='/auth/profile')
                button Back to Homepage