doctype html
html
    head
        title proTips
        link(rel='stylesheet', href='/css/tips.css')
    body
        div
            #tip-content
                #aside
                #figure
                #content
                    p #{tip.content}