doctype html
html
    head
        title proTips
        link(rel='stylesheet', href='/css/tips.css')
    body
        .grid
            #container
                #title
                    h1 Pro Tips
                #content
                    p #{tip.content}
                #pic
                    img.image(src = tip.pic)