extend default

block css
    link(rel='stylesheet', href='/css/trash.css')

block content
    #container
        #info-con
            #info
                #title
                    h1 #{trash.name}
                #type-title
                    h2 Type
                #type
                    p #{trash.type}
                #process-title
                    h2 Process
                #process
                    p #{trash.process}
        #pic-con
            img#pic(src = trash.pic)