doctype html
html
    head
        title trash
        link(rel='stylesheet', href='/css/trash.css')
    body
        div
            #info
                #title
                    h1 #{trash.name}
                #type 
                    h2 Type
                    p #{trash.type}
                #process 
                    h2 Process
                    p #{trash.process}
                a(href = '/map')
                    butoon#map
            #pic
                img.image(src = trash.pic)
