doctype html
html
    head
        title prorecycler
        link(rel='stylesheet', href='/css/trash.css')
    body
        #header
        each trash in trashs
            a(href=`./trash/${trash.id}`)
                #box
                    p #{trash.name}