doctype html
html
    head
        title User Center
        link(rel='stylesheet', href='/css/usercenter.css')
    body
        .grid
            h1 User Centre
            hr
            .buttons
                a(href='/auth/usercenter/addTrash')
                    button#add-trash Add Trash Info
                a(href='/auth/usercenter/addBin')
                    button#add-bin Add Bin Info
                a(href='/tips')
                    button#pro-tips See Pro Tips
                a(href='/auth/profile')
                    button#homepage Back to Homepage