doctype html
html
    head
        title User Center
        link(rel='stylesheet', href='/css/usercenter.css')
    body
        div
            p In this page, you can add recycle sites or trash information into our database.
            a(href='/auth/usercenter/addTrash')
                button#add-trash-info
            a(href='/auth/usercenter/addBin')
                button#add-recycle-site
            a(href='/auth/profile')
                button#back-to-home