doctype html
html
    head
        title User Center
        link(rel='stylesheet', href='/css/usercenter.css')
    body
        div
            p In this page, you can add recycle sits or trashes into our database.
            a(href='/auth/usercenter/addTrash') Add Trashs.

            a(href='/auth/usercenter/addBin') Add Bins.

            a(href='/auth/profile') Back to Home Page.

