p{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 39px;
    text-align: center;
}

.grid {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid rgb(56,87,35);
    display: grid;
    grid-template-areas: 
        "content";
}

#content {
    grid-area: content;
}