body {
    background-image: url(../images/Background.png);
    position: relative;
    background-repeat: repeat;
    background-size: 100%;
}

p{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.grid {
    width: 600px;
    height: 650px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid rgb(56,87,35);
}

h1 {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    background-color: rgb(56,87,35);
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 2px 0px;
    border-radius: 50px;
}

.grid {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid rgb(56,87,35);
}

#quiz {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4em 4em 4em 1fr 4em auto;
    grid-column-gap: 15px;
    grid-template-areas:
            "tophr tophr"
            "p p"
            "btn0 btn1"
            "btn2 btn3"
            "bottomhr bottomhr"
            "progress";
}

#tophr {
    grid-area: tophr;
}

#bottomhr {
    grid-area: bottomhr;
}

#btn0 {
    grid-area: btn0;
}

#btn1 {
    grid-area: btn1;
}

#btn2 {
    grid-area: btn2;
}

#btn3 {
    grid-area: btn3;
}

#progress {
    grid-area: progress;
    color: #2b2b2b;
    font-size: 18px;
}

.grid #score {
    color: black;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 26px;
}

.grid #question {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: black;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3, #retry, #answer {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: rgb(157,184,69);
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid rgb(56,87,35);
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover, #retry:hover, #answer:hover {
    cursor: pointer;
    background-color: rgb(56,87,35);
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus, #retry:focus, #answer:focus {
    outline: 0;
}

