#quiz {
    width: 600px;
    border: 5px solid rgb(56,87,35);
    border-radius: 50px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 50px 50px 50px;
}


h1 {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    background-color: rgba(56, 87, 35, 0.9);
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 2px 0px;
    border-radius: 50px;
}

#bottomhr {
    margin-top: 30px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8em 9em 9em;
    grid-template-areas:
            "question question"
            "btn0 btn1"
            "btn2 btn3";
}

#btn0 {
    grid-area: btn0;
}

#btn1 {
    grid-area: btn1;
}

#btn2 {
    grid-area: btn2;
}

#btn3 {
    grid-area: btn3;
}

#score {
    color: black;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 26px;
}

#question {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: black;
    grid-area: question;
    text-align: center;
    margin: auto;
}

#btn0, #btn1, #btn2, #btn3, #retry, #answer {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: rgb(157,184,69);
    
    font-size: 20px;
    color: #fff;
    border: 1px solid rgb(56,87,35);
    border-radius: 50px;
    margin: auto;
}

#btn0, #btn1, #btn2, #btn3 {
    height: 120px;
    width: 250px;
}

#retry, #answer {
    height: 65px;
    width: 160px;
}

#buttons {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "retry answer";
}

#retry {
    grid-area: retry;
}

#answer {
    grid-area: answer;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover, #retry:hover, #answer:hover {
    cursor: pointer;
    background-color: rgb(56,87,35);
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus, #retry:focus, #answer:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}