html {
	margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/Background.png);
    position: relative;
    background-repeat: repeat;
    background-size: 100%;
}

#logo{
    display: block;
    background-image: url(../images/Logo.png);
    background-repeat: no-repeat;
    top: 180px;
    bottom: 50px;
    height: 179px;
    left: calc(50% - 785px/2);
    position: absolute;
    width: 50%;
} 

#search-bar{
    background-image: url(../images/SearchBar.png);
    background-repeat: no-repeat;
    top: 380px;
    width: 668px;
    height: 69px;
    left: calc(50% - 668px/2);
    position: absolute;
}

input{
    top: 10px;
    width: 540px;
    height: 50px;
    left: 35px;
    border: none;
    background: transparent;
    position: absolute;
    color: rgb(56,87,35);
    font-size: 26px;
}
input:focus{
    outline: none;
}
input:active{
    outline: none;
}

#search-bar-submit{
    cursor: pointer;
    background: transparent;
    border: none;
    background-image: url(../images/Magnifier.png);
    background-repeat: no-repeat;
    top: 14px;
    width: 42px;
    height: 42px;
    left: calc(50% + 668px/2 - 42px/2 - 42px);
    position: absolute;
}

#search-bar-submit:hover{
    background-image: url(../images/MagnifierHover.png);
}
#search-bar-submit:focus{
    opacity: 1;
    background-image: url(../images/Magnifier.png);
    outline: none;
}
#search-bar-submit:active{
    opacity: 0.6;
    background-image: url(../images/Magnifier.png);
    outline: none;
}

#maps-button{
    cursor: pointer;
    background: transparent;
    border: none;
    background-image: url(../images/ShowNearbyBins.png);
    background-repeat: no-repeat;
    top: 480px;
    width: 224px;
    height: 52px;
    left: calc(50% - 224px - 20px);
    position: absolute;
}

#tips-button{
    cursor: pointer;
    background: transparent;
    border: none;
    background-image: url(../images/FeelingTrashy.png);
    background-repeat: no-repeat;
    top: 480px;
    width: 224px;
    height: 52px;
    left: calc(50% + 20px);
    position: absolute;
}