html {
	margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/Background.png);
    position: relative;
    background-repeat: repeat;
    background-size: 100%;
}

#logo{
    display: block;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    top: 50px;
    bottom: 50px;
    height: 288px;
    left: calc(50% - 1303px/2);
    position: absolute;
    width: 1303px;
} 

#search-bar{
    background-image: url(../images/SearchBar.png);
    background-repeat: no-repeat;
    top: 388px;
    width: 1137px;
    height: 116px;
    left: calc(50% - 1137px/2);
    position: absolute;
}

input{
    top: 32.5px;
    width: 980px;
    height: 50px;
    left: 35px;
    border: none;
    background: transparent;
    position: absolute;
    color: green;
    font-size: 30px;
}
input:focus{
    outline: none;
}
input:active{
    outline: none;
}

#search-bar-submit{
    cursor: pointer;
    background: transparent;
    border: none;
    background-image: url(../images/Magnifier.png);
    background-repeat: no-repeat;
    top: 22.5px;
    width: 70px;
    height: 70px;
    left: calc(50% + 1137px/2 - 70px/2 - 70px);
    position: absolute;
}

#search-bar-submit:hover{
    background-image: url(../images/Magnifier_hover.png);
}
#search-bar-submit:focus{
    opacity: 1;
    background-image: url(../images/Magnifier.png);
    outline: none;
}
#search-bar-submit:active{
    opacity: 0.6;
    background-image: url(../images/Magnifier.png);
    outline: none;
}