body {
    background-image: url(../images/Background.png);
    position: relative;
    background-repeat: repeat;
    background-size: 100%;
}

p{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.grid {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid rgb(56,87,35);
}

.grid h1 {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    background-color: rgb(56,87,35);
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 2px 0px;
    border-radius: 50px;
}


.grid #tophr {
    margin-bottom: 30px;
}

.grid #question {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: black;
}

.grid #answer {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}

.grid #bottomhr {
    margin-top: 50px;
}

.buttons {
    margin-top: 30px;
}

#retry, #homepage {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: rgb(157,184,69);
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid rgb(56,87,35);
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#retry:hover, #homepage:hover {
    cursor: pointer;
    background-color: rgb(56,87,35);
}

#retry:focus, #homepage:focus {
    outline: 0;
}
