body {
    background-image: url(../images/Background.png);
    position: relative;
    background-repeat: repeat;
    background-size: 100%;
}

p{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#content {
    width: 600px;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 50px 50px 50px;
    border: 5px solid rgb(56,87,35);
    border-radius: 50px;
}

h1 {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    background-color: rgb(56,87,35);
    font-size: 60px;
    color: white;
    padding: 2px 0px;
    border-radius: 50px;
    text-align: center;
}

#question {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: black;
}

#answer {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}

#bottomhr {
    margin-top: 50px;
}

#retrybuttons {
    display: grid;
    grid-template-areas:
            "btn0";
}

#btn0 {
    grid-area: btn0;
}

#retry{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: rgb(157,184,69);
    width: 180px;
    font-size: 20px;
    color: #fff;
    border: 1px solid rgb(56,87,35);
    border-radius: 50px;
    padding: 10px 10px;
    margin: 30px calc(50% - 180px/2) 0px calc(50% - 180px/2);
}

#retry:hover {
    cursor: pointer;
    background-color: rgb(56,87,35);
}

#retry:focus {
    outline: 0;
}
