@media screen and (min-width: 769px) {
    #content {
        width: 600px;
        margin: 30px auto;
        padding: 10px 50px 50px 50px;
    }
    h1{
        font-size: 60px;
    }
    #question {
        font-size: 26px;
    }
    #answer {
        font-size: 20px;
    }
    #retry{
        width: 180px;
        font-size: 20px;
        padding: 10px 10px;
        margin: 30px calc(50% - 180px/2) 0px calc(50% - 180px/2);
    }
}

@media screen and (min-width: 520px) and (max-width: 768px) {
    #content {
        width: 400px;
        margin: 20px auto;
        padding: 10px 50px 50px 50px;
    }
    h1{
        font-size: 48px;
    }
    #question {
        font-size: 20px;
    }
    #answer {
        font-size: 16px;
    }
    #retry{
        width: 180px;
        font-size: 20px;
        padding: 10px 10px;
        margin: 30px calc(50% - 180px/2) 0px calc(50% - 180px/2);
    }
}

@media screen and (min-width: 320px) and (max-width: 520px) {
    #content {
        width: 250px;
        margin: 10px auto;
        padding: 10px 15px;
    }
    h1{
        font-size: 24px;
        margin: 10px;
    }
    #question {
        font-size: 14px;
    }
    #answer {
        font-size: 12px;
    }
    #retry{
        width: 120px;
        font-size: 14px;
        padding: 10px 10px;
        margin: 15px calc(50% - 120px/2);
    }
}

#content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    border: 5px solid rgb(56,87,35);
}

h1 {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    background-color: rgb(56,87,35);
    color: white;
    padding: 2px 0px;
    border-radius: 50px;
    text-align: center;
}

#question, #answer {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    color: black;
}

#retrybuttons {
    display: grid;
    grid-template-areas:
            "btn0";
}

#btn0 {
    grid-area: btn0;
}

#retry{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: rgb(157,184,69);
    color: #fff;
    border: 1px solid rgb(56,87,35);
    border-radius: 50px;
}

#retry:hover {
    cursor: pointer;
    background-color: rgb(56,87,35);
}

#retry:focus {
    outline: 0;
}
