h1 {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    background-color: rgb(56,87,35);
    font-size: 60px;
    color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
    text-align: center;
}

h2{
    text-decoration: none;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 39px;
    color: rgb(84, 130, 53);
}

p{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.searchresult-container{
    margin: 5% 20% 5% 20%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 5px solid rgb(56,87,35);
}

#container{
    display: grid;
    justify-items: center;
    grid-template-areas:
            "title"
            "bar"
            "result";
}

#title{
    grid-area: title;
}

#bar {
    grid-area: bar;
    background-color: #fff;
    padding: 1% 2.5% 1% 2.5%;
    border-radius: 50px;
    border: 5px solid rgb(56,87,35);

    display: grid;
    justify-items: center;
    grid-template-columns: 13fr 1fr;
    grid-template-areas:
            "input submit";
}

#input {
    grid-area: input;
    padding: 6.5px 0px 0px 0px;
    border: none;
    background: transparent;
    position: absolute;
    color: rgb(56,87,35);
    font-size: 26px;
}

#submit {
    grid-area: submit;
    cursor: pointer;
    background: transparent;
    border: none;
    background-image: url(../images/Magnifier.png);
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
}

#input:focus{
    outline: none;
}

#input:active{
    outline: none;
}

#submit:hover{
    background-image: url(../images/MagnifierHover.png);
}

#submit:focus{
    opacity: 1;
    background-image: url(../images/Magnifier.png);
    outline: none;
}

#submit:active{
    opacity: 0.6;
    background-image: url(../images/Magnifier.png);
    outline: none;
}

#result{
    grid-area: result;
    padding: 2.5% 5% 2.5% 5%;
}