html {
	margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../images/Background.png);
    position: relative;
    background-repeat: repeat;
    background-size: 100%;
}

.grid {
    display: grid;
    grid-template-areas: 
    "nev"
    "body";
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .welcome {
        display: none;
    }
}

.nav-menu {
        grid-area: nev;
        height: 100%;
        background-color: rgb(56,87,35);
}

.nav-con {
    height: 53.6px;
}

.nav-con.fl {
    float: left;
}

.nav-con.fr {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li p {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    color: white;
    padding: 14px 20px;
    margin: 0;
}

li a {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
}

li a:hover {
  background-color: rgb(84, 130, 53);
}

.content {
    grid-area: body;
    margin: 0;
    padding: 0;
}