html {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(84, 130, 53);
}

p{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    color: white;
    text-align:right;
    font-size: 25px;
    background-color: rgb(56,87,35);
}