body {
	margin: 0;
    padding: 0;
}

p{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 39px;
}

#bgbtm{
    position: absolute;
    background-color: rgb(84, 130, 53);
    width: 100%;
    height: 100%;
}

#bgtop{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 15%;
    left: 10%;
    height: 70%;
    width: 80%;
}

#title{
    display: block;
    background-image: url(../images/ProTips.png);
    background-repeat: no-repeat;
    top: 5%;
    bottom: 30px;
    left: 0px;
    height: 127px;
    width: 545px;
    position: absolute;
}

#content{
    position: absolute;
    top: calc(5% + 127px/2);
    left: 545px;
}

#pic{
    position: absolute;
    top: calc(5% + 127px);
    left: calc((545px/2) - 175px);
}