body {
    background-color: rgb(84, 130, 53);
}

h1{
    text-decoration: none;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 78px;
    color: rgb(84, 130, 53);
}

p{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 39px;
}

.grid {
    margin: 5% 5% 5% 5%;
}

#container{
    display: grid;
    justify-items: center;
    background-color: #fff;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
            "title title"
            "pic content";
}

#title {
    grid-area: title;
}

#pic {
    grid-area: pic;
}

#content {
    grid-area: content;
    padding: 10px 50px 10px 50px;
}