h1{
    text-decoration: none;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 78px;
    color: black;
}

p{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 39px;
}

.protips-container {
    margin: 5% 5% 5% 5%;
    background-color: #fff;
    opacity: 0.8;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 5px solid rgb(56,87,35);
}

#container{
    display: grid;
    justify-items: center;
    background-color: #fff;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
            "title title"
            "pic content";
}

#title {
    grid-area: title;
}

#pic {
    grid-area: pic;
    
}

#content {
    grid-area: content;
    padding: 10px 50px 10px 50px;
}

@media screen and (min-width: 520px) and (max-width: 1000px){
    h1{
        text-decoration: none;
        font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
        font-size: 60px;
        color: black;
    }
    p{
        font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
    .protips-container {
        margin: 3% 3% 3% 3%;
        background-color: #fff;
        opacity: 0.8;
        padding: 5px 15px 15px 15px;
        border-radius: 15px;
        border: 3px solid rgb(56,87,35);
    }

    #container{
        display: grid;
        justify-items: center;
        background-color: #fff;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
                "title title"
                "pic pic"
                "content content";
    }
    #content {
        grid-area: content;
        padding: 5px 15px 5px 15px;
    }

}

@media screen and (min-width: 320px) and (max-width: 520px){
    h1{
        text-decoration: none;
        font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
        font-size: 40px;
        color: black;
    }
    p{
        font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    .protips-container {
        margin: 1% 1% 1% 1%;
        background-color: #fff;
        opacity: 0.8;
        padding: 2px 10px 10px 10px;
        border-radius: 10px;
        border: 1px solid rgb(56,87,35);
    }

    #container{
        display: grid;
        justify-items: center;
        background-color: #fff;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
                "title title"
                "pic pic"
                "content content";
    }
    #content {
        grid-area: content;
        padding: 2px 10px 2px 10px;
    }

}