h1{
    color: white;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 52px;
}

h2{
    color: white;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 39px;
}

p{
    color: white;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.grid {
    width: 100vw;
    height: auto;
    margin: 0 auto;

}

#container {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
            "words pic";
}

#words {
    display: grid;
    background-color: rgb(84, 130, 53);
    grid-area: words;
    grid-template-areas:
            "info";
}

#info {
    grid-area: info;
    display: grid;
    justify-self: center;
    padding: 10px 50px 50px 50px;
    grid-template-rows: auto 7em 5em 7em 5em;
    grid-template-areas:
            "title"
            "type-title"
            "type"
            "process-title"
            "process"
            "background";
}

#title{
    grid-area: title;
    justify-self: center;
}

#type-title{
    grid-area: type-title;
    justify-self: center;
}

#type{
    grid-area: type;
    justify-self: center;
}

#process-title{
    grid-area: process-title;
    justify-self: center;
}

#process{
    grid-area: process;
    justify-self: center;
}

#pic{
    grid-area: pic;
    place-self: center;
}