body{
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 52px;
}

h2{
    color: white;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 39px;
}

p{
    color: white;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.grid {
    width: 100vw;
    height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
            "info pic";
}

#info {
    background-color: rgb(56,87,35);
    display: grid;
    grid-template-rows: 10em 7em 5em 7em 5em auto;
    grid-template-areas:
            "title"
            "type-title"
            "type"
            "process-title"
            "process"
            "background";
}

#title{
    grid-area: title;
    justify-self: center;
}

#type-title{
    grid-area: type-title;
    justify-self: center;
}

#type{
    grid-area: type;
    justify-self: center;
}

#process-title{
    grid-area: process-title;
    justify-self: center;
}

#process{
    grid-area: process;
    justify-self: center;
}

#pic{
    grid-area: pic;
    justify-self: center;
}