h1, h2, p{
    color: white;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
}


#info-con {
    display: grid;
    background-color: rgba(84, 130, 53, 0.9);
    grid-area: words;
    grid-template-areas:
        "info";
}

#info {
    grid-area: info;
}

#title{
    grid-area: title;
    justify-self: center;
}

#type-title{
    grid-area: type-title;
    justify-self: center;
}

#type{
    grid-area: type;
    justify-self: center;
}

#process-title{
    grid-area: process-title;
    justify-self: center;
}

#process{
    margin: 0 25px;
    grid-area: process;
    justify-self: center;
}

#pic-con {
    grid-area: pic;
    width: 100%;
    background-color: rgba(255, 255, 255);
    opacity: 0.8;
    display: grid;
    grid-template-areas:
        "image";
}

#pic {
    grid-area: image;
    margin: auto;
    overflow: hidden;
}

@media screen and (min-width: 769px){
    #info {
        display: grid;
        margin: 30px auto;
        justify-self: center;
        grid-template-rows: 10em 7em 5em 7em 5em;
        grid-template-areas:
            "title"
            "type-title"
            "type"
            "process-title"
            "process";
    }
    #container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
            "words pic";
        height: calc(100vh - 53.6px);
    }
    h1{
        font-size: 52px;
    }

    h2{
        font-size: 39px;
    }

    p{
        font-size: 26px;
    }

    #pic-con {
        height: calc(100vh - 53.6px);
    }
}

@media screen and (min-width: 520px) and (max-width: 768px){
    #info {
        display: grid;
        margin: 30px auto;
        justify-self: center;
        grid-template-rows: 8em 6em 4em 6em 4em;
        grid-template-areas:
            "title"
            "type-title"
            "type"
            "process-title"
            "process";
    }
    #container {
        display: grid;
        grid-template-areas:
            "words"
            "pic";
        height: calc(100vh - 53.6px);
    }
    h1{
        font-size: 48px;
    }

    h2{
        font-size: 36px;
    }

    p{
        font-size: 24px;
    }

}

@media screen and (min-width: 320px) and (max-width: 520px){
    #container {
        display: grid;
        grid-template-areas:
            "words";
        height: calc(100vh - 53.6px * 2);
    }

    #info {
    display: grid;
    margin: 10px 0;
    justify-self: center;
    grid-template-rows: 7em 5em 3em 5em 3em;
    grid-template-areas:
            "title"
            "type-title"
            "type"
            "process-title"
            "process";
    }

    #pic-con {
        display: none;
    }

    #pic {
        display: none;
    
    }

    h1{
        font-size: 48px;
    }

    h2{
        font-size: 32px;
    }

    p{
        font-size: 18px;
    }
}