html {
	margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/Background.png);
    position: relative;
    background-repeat: repeat;
    background-size: 100%;
}

a{
    text-decoration: none;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: black;
}

#header{
    display: block;
    background-image: url(../images/AllTrashTitle.png);
    background-repeat: no-repeat;
    top: 30px;
    bottom: 30px;
    left: calc(50% - 603px/2);
    height: 177px;
    width: 603px;
    position: absolute;
}

#box{
    display: block;
    background-image: url(../images/AllTrashBox.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
    top: 200px;
    padding: 15px;
    left: calc(50% - 554px/2);
    line-height: 69px;
    height: 69px;
    width: 554px;
}