body{
    background-color: rgb(84, 130, 53);
}

a{
    text-decoration: none;
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: black;
}

#addform{
    position: absolute;
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    top: 120px;
}

#title{
    display: block;
    background-image: url(../images/AddTrashInfoTitle.png);
    background-repeat: no-repeat;
    top: 5%;
    bottom: 30px;
    height: 127px;
    width: 737px;
    position: absolute;
}

#submit{
    cursor: pointer;
    background: transparent;
    border: none;
    background-image: url(../images/Submit.png);
    background-repeat: no-repeat;
    top: 250px;
    width: 224px;
    height: 52px;
    left: calc(5%);
    position: absolute;
}