body {
    background-image: url(../images/Background.png);
    position: relative;
    background-repeat: repeat;
    background-size: 100%;
}

h1{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-size: 39px;
    text-align: center;
}

hr{
    margin-top: 30px;
}

.grid {
    width: 650px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid rgb(56,87,35);
}

.buttons {
    margin-top: 30px;
}

#add-trash, #add-bin, #pro-tips, #homepage {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: rgb(157,184,69);
    width: 50%;
    font-size: 20px;
    color: #fff;
    border: 1px solid rgb(56,87,35);
    border-radius: 50px;
    margin: 30px 25% 30px 25%;
    padding: 25px 10px 25px 10px;
}

#add-trash:hover, #add-bin:hover, #pro-tips:hover, #homepage:hover {
    cursor: pointer;
    background-color: rgb(56,87,35);
}