h1{
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .usercentre-container{
        margin: 5% 20%;
    }
    button{
        width: 50%;
        margin: 20px 25%;
    }
    h1{
        font-size: 39px;
    }
    button {
        font-size: 26px;
    }
}

@media screen and (min-width: 520px) and (max-width: 1000px) {
    .usercentre-container{
        margin: 5% 10%;
    }
    button{
        width: 70%;
        margin: 15px 15%;
    }
    h1{
        font-size: 30px;
    }
    button {
        font-size: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 520px) {
    .usercentre-container{
        margin: 5% 5%;
    }
    button{
        width: 100%;
        margin: 10px 0%;
    }
    h1{
        font-size: 21px;
    }
    button {
        font-size: 14px;
    }
    hr{
        display: none;
    }
}

.usercentre-container{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 5px solid rgb(56,87,35);
}

#container {
    margin-top: 30px;
    display: grid;
    grid-template-areas:
            "btn0"
            "btn1"
            "btn2";
}

#btn0 {
    grid-area: btn0;
}

#btn1 {
    grid-area: btn1;
}

#btn2 {
    grid-area: btn2;
}

button {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: rgb(157,184,69);
    color: #fff;
    border: 1px solid rgb(56,87,35);
    border-radius: 50px;
    padding: 25px 10px 25px 10px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(56,87,35);
}